SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
VERCEL_BLOB_READ_WRITE_TOKEN="vercel_blob_rw_FBGRUPH4dru1OiFl_KSYSeGnajKDumgbQ7OO8SXXF9cjACv"
VERCEL_BLOB_URL = "https://fbgruph4dru1oifl.public.blob.vercel-storage.com"
VERCEL_BLOB_BUCKET_NAME=default

